body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
  background: #252525;
  color: #e5e5e5;
}

#root {
  margin: 5rem auto;
  width: 80%;
  max-width: 1000px;
}

#root > div {
  width: 100%;
}

a {
  color: inherit;
}

/* scrollbar - adapted from https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
/* width */
::-webkit-scrollbar {
  width: 1rem;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255,255,255,0.3);
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1e1e1e;
  border: solid 1px #e5e5e580;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2d2d2d;
}
::-webkit-scrollbar-thumb:active {
  background: #3c3c3c;
}