html {
  font-size: 10px;
}

@media (min-width: 700px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
  background: #252525;
  color: #e5e5e5;
}

#root {
  margin: 3rem auto 5rem;
  width: 95%;
  max-width: 1500px;
}

@media (min-width: 500px) {
  #root {
    width: 90%;
  }
}

#root > div {
  width: 100%;
}

h1, h2, p {
  margin-top: 0;
}

a {
  color: inherit;
}

.title {
  text-align: center;
  font-size: 4em;
  margin-bottom: 1em;
}

/* scrollbar - adapted from https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
/* width */
::-webkit-scrollbar {
  width: 1rem;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255,255,255,0.3);
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1e1e1e;
  border: solid 1px #e5e5e580;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2d2d2d;
}
::-webkit-scrollbar-thumb:active {
  background: #3c3c3c;
}
::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
  box-shadow: inset 0 0 4px rgba(255,255,255,0.3);
  border-radius: 30%;
}


/* accordion */

body .accordion-head {
  font-size: 1.55em;
  padding: 1em;
}

body .accordion-body {
  background-color: #e5e5e5;
  color: #1e1e1e;
  font-size: 1.3em;
  /* background-color: #3c3c3c;
  color: #e5e5e5; */
}

body .creator-container {
  background-color: #252525;
  color: #e5e5e5;
  border-radius: 0.2em;
  margin: 1em 0;
  font-size: 1.12em;
  position: relative;
  padding: 0.4em 0;
}

.creator-container p {
  margin-bottom: 0;
  margin-left: calc(1.5em + 3.5em + 1.5em);
}

.creator-container img {
  border-radius: 50%;
  height: 3.5em;
  border: solid 3px #1e1e1e;
  position: absolute;
  transform: translateY(-50%);
  left: 1.5em;
  top: 50%;
}

.description-heading {
  padding-top: 0.55em;
}

.description-heading,
.solution-heading {
  font-size: 1.45em;
}